@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input:focus {
  outline: none;
}

body {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
}

body h1 {
  color: #413a3a;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 4rem;
  line-height: 1.2;
}

body h1 span {
  font-weight: 300;
}

body::-webkit-scrollbar {
  width: 0.45rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #f96262;
}

.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.text-primary {
  color: #ce9797;
}

.text-center {
  text-align: center;
}

.container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: linear-gradient(135deg, white, #fff5f5);
}

.container .mobile-hero {
  display: none;
}

.text-area {
  background: url(../images/bg-pattern-desktop.svg) no-repeat;
  background-position: bottom;
  background-size: cover;
  background-color: linear-gradient(135deg, white, #fff5f5);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
}

.content {
  max-width: 500px;
  margin: auto;
  padding: 2rem;
}

.content .logo {
  margin-top: 2rem;
  margin-bottom: 20vh;
}

.content p {
  line-height: 1.6;
}

.img-area {
  background: red;
  height: 100%;
  overflow: hidden;
}

.img-area img {
  display: block;
  height: 100%;
}

.input {
  width: 100%;
  border: #ce9797 1px solid;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.input a {
  display: inline-block;
}

.input-field {
  padding: 1rem;
  margin-left: 1rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: none;
  background: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 30px;
  border: none;
  background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  cursor: pointer;
  color: #fff;
}

.bg-dark {
  background: #f96262;
}

.attribution {
  padding-top: 0.5rem;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media screen and (max-width: 800px) {
  body {
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
  }
  body h1 {
    text-align: center;
    color: #413a3a;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 3rem;
    line-height: 1.2;
  }
  body h1 span {
    font-weight: 300;
  }
  .img-area {
    display: none;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .mobile-hero {
    display: block;
    margin: auto;
    width: 100%;
  }
  .content {
    max-width: 500px;
    margin: auto;
    padding: 0rem;
  }
  .content .logo {
    margin-top: 2rem;
    margin-bottom: 2vh;
  }
  .showcase {
    text-align: center;
    padding: 2rem;
  }
}

@media screen and (max-height: 800px) {
  body h1 {
    font-size: 3rem;
  }
  .content {
    max-width: 500px;
    margin: auto;
    padding: 1rem;
  }
  .content .logo {
    margin-top: 2rem;
    margin-bottom: 5vh;
  }
  .content p {
    padding: 1rem 0;
  }
}
